@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;500;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Quicksand";
  color: white;
  background-color: #292929;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  background-color: #292929;
  flex: 20%;
  padding: 20px;
}

#gl-canvas {
  background-color: #525252;
  display: block;
}

