@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: "Quicksand";
  color: white;
  background-color: #292929;
  display: flex;
  flex-direction: column;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  margin-top: 0px;
}

/* make the canvas fill its container */
canvas {
  background-color: white;
  display: block;
  border: 5px solid #0c24ff;
  margin: 0 auto;
}

.tree-display{
  width: 600px;
  max-width: 300px;
  height: 450px;
  max-height: 300px;
  overflow: auto;
  background-color: white;
  border: 5px solid #0c24ff;
  margin: 0 auto;
  /* tab-size: 4; */
}

h1 {
  margin: 15px 0;
  text-align: center;
}

h2 {
  margin: 15px 0;
  text-align: center;
}

h3 {
  margin: 0
}

p {
  margin: 0;
  padding: 0;
}

select {
  margin-bottom: 10px;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  justify-content: center;
  column-gap: 20px;
  height: 50%;
  width: 100%;
}                   
.animation-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  column-gap: 20px;
  height: 30%;
  width: 100%;
}
.object-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: center;
  column-gap: 20px;
  height: 70%;
  width: 100%;
}
.idle{
  padding: 2px 1.0vw;
  display: inline-block;
}

.Controllers{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.utils{
  display: flex;
  flex-direction: column;
  width:30%;
  margin-right: 5px;
  justify-content: space-between;
  height: 100%;
  max-height: 250px;
}

.transformation{
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 525px;
}

.transformation > div {
  display: flex;
}

.transformation > h3 {
  margin-bottom: 8px;
}

#saveBtn{
  max-width: 40px;
}

.cameraSegment{
  max-width: 350px;
}

#reset{
  width: 60px;
  max-width: 60px;
  height: 25px;
  max-height: 25px;
}